#CartelPuntuar {
    width: 20em;
    height: 15em;
    background-color: black;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translate(10%, 50%);
    color: aliceblue;
    text-align: center;
    display: grid;
    place-content: center;
    border-radius: 15px;
    border: 2px solid wheat;


    div {
        margin: 1em;
    }

    div:last-child {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;

        button {
            background-color: yellow;
            border-color: aliceblue;
            border-radius: 15px;
            
        }
    }
}